@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-family: Open Sans;
    position: relative;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none !important;
    outline: none !important;
}

    a:hover {
        text-decoration: none;
    }
/**********header***********/
header .head-top {
    background: #3d3d3d none repeat scroll 0 0;
}

.head-top p {
    margin: 0;
    color: #fff;
}

ul.top-menu {
    float: right;
}

.top.menu.nav.navbar-nav.pull-right a {
    padding-left: 0px;
    text-transform: capitalize;
}

.head-top i {
    color: #818588;
}

.head-top .navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

    .head-top .navbar-inverse .navbar-nav > li > a:hover, .head-top .navbar-inverse .navbar-nav > li > a:focus {
        color: #CA9547;
    }

.head-top .navbar-inverse {
    background-color: #222;
    border: initial;
}

.head-top .container-fluid {
    background-color: #3D3D3D;
}

.head-top .menu .navbar.navbar-inverse {
    margin-bottom: 0;
}

.head-bottom .menu .container-fluid {
    padding: 0;
}

.navbar {
    min-height: inherit;
}

.head-top p {
    margin-top: 15px;
}

.sub-menu {
    background: #ca9547 none repeat scroll 0 0;
    /*border-top: 3px solid #fff;*/
    display: none;
    left: 0;
    padding: 0;
    position: absolute;
    top: 50px;
    z-index: 9999;
}

.navbar-nav > li {
    position: relative;
}

    .navbar-nav > li:hover .sub-menu {
        display: block;
    }

    .navbar-nav > li .sub-menu li {
        font-size: 15px;
    }

.navbar-inverse .navbar-nav > li > a i {
    position: relative;
    top: 5px;
}

.navbar-nav > li:hover .sub-menu li {
    margin-bottom: 2px;
    padding: 5px 5px; /*25px*/
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
}

    .navbar-nav > li:hover .sub-menu li a {
        display: inline-block;
        height: 20px;
        padding: 5px 15px !important;
        background-color: transparent;
    }

.sub-menu li:hover {
    background: #aa7527 none repeat scroll 0 0;
}
/* IE7 */
.ie10 .menu .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: inherit !important; /* Only works in IE10 */
}
/*********header-center**************/
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}

.input-group-btn .btn-group {
    display: flex !important;
}

.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}

    .btn-group .btn:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.form-control {
    width: inherit !important;
}

.head-center #adv-search.input-group {
    margin-left: 35px;
    margin-top: 14px;
}

.head-center {
    padding: 25px 0;
}

    .head-center .form-control {
        border-color: #000;
        border-radius: inherit;
    }

    .head-center .btn-primary {
        background-color: #ca9547;
        border: 1px solid #000;
        border-radius: inherit !important;
    }

    .head-center .dropdown.dropdown-lg .form-control {
        -moz-appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url("../images/arrow.jpg");
        background-position: 85% center;
        background-repeat: no-repeat;
        height: 40px;
        width: 160px !important;
        color: #000;
        font-size: 13px;
    }

    .head-center .dropdown i {
        font-size: 20px;
        margin-right: 2px;
    }

    .head-center #adv-search .search-arrow i {
        color: #ca9547;
        left: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 9999;
    }

    /* Safari only css */
    ::i-block-chrome, .head-center #adv-search .search-arrow i {
        top: 20%;
    }

    .head-center #adv-search.input-group .form-box {
        height: 40px;
        padding-left: 40px;
        width: 100% !important;
        font-size: 13px;
    }

    .head-center .cart-account {
        margin-top: 14px;
    }

    .head-center .dropdown .btn-primary {
        background-color: inherit;
        border: inherit;
        box-shadow: none;
        color: #4c575b;
        font-size: 12px;
    }

.cart-account .dropdown {
    float: left;
    margin-right: 10%;
			  width: 40%;
}
   .act-cart .dropdown-menu {
     min-width:200px;
     padding:5px 5px;
    }
.head-center .dropdown:last-child {
			  margin-right: 0;
	}		
/* Safari only css */
::i-block-chrome, #adv-search {
    width: 550px !important;
}
/* Safari only css */
::i-block-chrome, .btn-group > .btn, .btn-group-vertical > .btn {
    position: none !important;
    left: none !important;
    height: 40px !important;
}

@media screen and (min-width: 768px) {
    #adv-search {
        margin: 0 auto 0 20px;
        width: 580px;
    }

    .dropdown.dropdown-lg {
        position: static !important;
    }

        .dropdown.dropdown-lg .dropdown-menu {
            min-width: 500px;
        }
}
/***********header-bottom************/
.head-bottom {
    background: #CA9547;
}

    .head-bottom a {
        font-size: 11px;
        text-transform: uppercase;
        color: #fff;
    }

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #3D3D3D;
    }

.head-bottom li:first-child {
    margin-left: 0;
}

.head-bottom .container-fluid {
    background-color: #CA9547;
}

.head-bottom .navbar.navbar-inverse {
    border: initial;
    margin-bottom: 0;
}

.head-bottom .top.menu.nav.navbar-nav.pull-right a {
    padding-left: 0;
}

.head-bottom .collapse.navbar-collapse {
    padding: 0 !important;
}

.menu .collapse.navbar-collapse {
    border-color: inherit;
}

.head-bottom .top.menu.nav.navbar-nav li a {
     font-size: 11.5px;
    padding-left: 0;
    padding-right: 20px;
    color:#ffffff;
}

.head-bottom .last-menu > a {
    padding-right: 0 !important;
}
.head-bottom-col {padding-left:0px;padding-right:0px;
			}
/*************slider*****************/
.carousel-inner .carousel-caption {
    left: 100px;
    position: absolute;
    right: 630px;
    top: 0;
}

    .carousel-inner .carousel-caption > p {
        color: #ca9547;
        font-size: 33px;
        left: 30px;
        line-height: 0.6;
        position: relative;
        text-shadow: initial;
    }

    .carousel-inner .carousel-caption > h1 {
        color: #000;
        text-shadow: initial;
    }

.carousel-inner .btn.btn-lg.btn-primary {
    background-color: inherit;
    border-color: #ca9547;
    border-radius: inherit;
    color: #ca9547;
    margin-left: 185px;
    margin-top: 10px;
}

    .carousel-inner .btn.btn-lg.btn-primary:hover {
        background-color: #ca9547;
        color: #fff;
    }

.sldie .glyphicon i {
    background-color: #56514d;
    border-radius: 50%;
    height: 30px;
    line-height: 30px;
    width: 30px;
}

.carousel-control.right {
    background-image: inherit;
}

.carousel-control.left {
    background-image: inherit;
}
.carousel-indicators li {
			  background: #adb1b2 none repeat scroll 0 0;
			  border: 3px solid #fff;
			  box-shadow: 1px 1px 2px 1px #726565;
			  height: 16px;
			  width: 16px;
			}
			.carousel-indicators .active {
			  background-color: #3f4042;
			  height: 16px;
			  margin: 1px;
			  width: 16px;
			}
			.carousel-indicators {
			  bottom: 10px;
	}		
.glyphicon-chevron-left::before, .glyphicon-chevron-right::before {
    content: "";
}
/******************title-show***************/
.title-show {
    margin-top: 40px;
}
/*******************product*****************/
.product {
    background-image: url("../images/images-bg-1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1860px auto;
}

    .product .all-product-file {
        background-color: #fff;
        border-bottom: 1px solid #d3d3d3;
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;
        border-top: 3px solid #ca9547;
    }

    .product .pord-text {
        margin-top: 30px;
    }

.text-left-title {
    color: #ca9547;
    font-size: 29px;
}

.show-box.pull-right > a {
    color: #000000;
    font-size: 14.4px;
}
.show-box.pull-right > a > i {
			  color: #7e8285;
			  font-size: 18px;
			  margin-right: 3px;
	}		
.product .part-1 li {
    margin-bottom: 10px;
}

.product .part-1.part-1 a {
    color: #000000;
    font-size: 16.8px;
}

    .product .part-1.part-1 a:hover, .product .part-1.part-1 a:focus {
        color: #ca9547;
         
    }

.part-1 h3 {
    font-size: 29px;
    margin: 0 0 20px;
}

.all-product-file .part-2 > img {
    height: 426px;
    width: 356px;
}

.part-3 .img-left img, .img-right img {
    height: 172.8px;
    width: 100%;
}

.text-1, .text-2, .text-3, .text-4 {
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.img-left > li {
    border: 1px solid #F2F2F2;
    float: left;
    width: 50%;
}

.img-right > li {
    border: 1px solid #F2F2F2;
    float: left;
    width: 50%;
}

.product .part-1 {
    margin-left: 30px;
    margin-top: 20px;
}

.part-2 h2 {
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.box-text > p {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
}

.part-2 .box-text {
    background: rgba(202, 153, 71, 0.8) none repeat scroll 0 0;
      bottom: 20px;
    left: 33px;
    padding: 15px;
    position: absolute;
    right: 0;
    /*top: 295px;*/
}

.part-2 h2 {
    border-bottom: 1px solid #ffffff;
    font-size: 28px;
    font-weight: 500;
    margin: 10px 0;
    padding-bottom: 9px;
    text-align: center;
}

.show-box {
    margin-top: 10px;
}

.product .part-3 li {
    cursor: row-resize;
}

    .product .part-3 li p {
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
    }

    .product .part-3 li:hover p {
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
    }

    .product .part-3 li img {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -o-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
    }

    .product .part-3 li:hover img {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transition: all 0.6s ease 0s;
        -moz-transition: all 0.6s ease 0s;
        -o-transition: all 0.6s ease 0s;
        -ms-transition: all 0.6s ease 0s;
    }

.box-1 .part-3 li:hover p {
    color: #ca9547;
}

.box-2 .part-3 li:hover p {
    color: #8F962F;
}

.box-3 .part-3 li:hover p {
    color: #307596;
}

.box-4 .part-3 li:hover p {
    color: #CA9547;
}

.box-5 .part-3 li:hover p {
    color: #E0B81B;
}

.box-6 .part-3 li:hover p {
    color: #9D7D70;
}

.box-7 .part-3 li:hover p {
    color: #FF2E7F;
}

.box-8 .part-3 li:hover p {
    color: #2F7596;
}
/********box-2************/
.box-2.product {
    background-image: url("../images/images-bg-2.jpg");
}

.box-title-2 .text-left-title {
    color: #8f962f;
}

.box-2 .part-1 a:hover, .box-2 .part-1 a:focus {
    color: #8f962f !important;
}

.box-2 .box-text {
    background: rgba(143, 150, 47, 0.8) none repeat scroll 0 0;
}

.box-2 .all-product-file {
    border-top: 3px solid #8f962f;
}
/********box-3************/
.box-3.product {
    background-image: url("../images/images-bg-3.jpg");
}

.box-title-3 .text-left-title {
    color: #307596;
}

.box-3 .part-1 a:hover, .box-3 .part-1 a:focus {
    color: #307596 !important;
}

.box-3 .box-text {
    background: rgba(48, 117, 150, 0.8) none repeat scroll 0 0;
}

.box-3 .all-product-file {
    border-top: 3px solid #307596;
}
/********box-4*************/
.box-4.product {
    background-image: url("../images/images-bg-4.jpg");
}
/********box-5************/
.box-5.product {
    background-image: url("../images/images-bg-5.jpg");
}

.box-title-5 .text-left-title {
    color: #E0B81B;
}

.box-5 .part-1 a:hover, .box-5 .part-1 a:focus {
    color: #E0B81B !important;
}

.box-5 .box-text {
    background: rgba(224, 184, 27, 0.8) none repeat scroll 0 0;
}

.box-5 .all-product-file {
    border-top: 3px solid #E0B81B;
}
/********box-6************/
.box-6.product {
    background-image: url("../images/images-bg-6.jpg");
}

.box-title-6 .text-left-title {
    color: #9D7D70;
}

.box-6 .part-1 a:hover, .box-6 .part-1 a:focus {
    color: #9D7D70 !important;
}

.box-6 .box-text {
    background: rgba(157, 125, 112, 0.8) none repeat scroll 0 0;
}

.box-6 .all-product-file {
    border-top: 3px solid #9D7D70;
}
/********box-7************/
.box-7.product {
    background-image: url("../images/images-bg-7.jpg");
}

.box-title-7 .text-left-title {
    color: #FF2E7F;
}

.box-7 .part-1 a:hover, .box-7 .part-1 a:focus {
    color: #FF2E7F !important;
}

.box-7 .box-text {
    background: rgba(255, 46, 127, 0.8) none repeat scroll 0 0;
}

.box-7 .all-product-file {
    border-top: 3px solid #FF2E7F;
}
/********box-8************/
.box-8.product {
    background-image: url("../images/images-bg-8.jpg");
}

.box-title-8 .text-left-title {
    color: #2F7596;
}

.box-8 .part-1 a:hover, .box-8 .part-1 a:focus {
    color: #2F7596 !important;
}

.box-8 .box-text {
    background: rgba(47, 117, 150, 0.8) none repeat scroll 0 0;
}

.box-8 .all-product-file {
    border-top: 3px solid #2F7596;
}
/*************our-brands*****************/
.title-textbox {
    border-bottom: 1px solid #cfd0d2;
    margin-bottom: 15px;
    position: relative;
}

.border-bottom {
    border-bottom: 3px solid #c79743;
    left: 0;
    position: absolute;
    right: 0;
    top: 46px;
    width: 200px;
}

.our-title {
    font-size: 25px;
    text-transform: capitalize;
}

.brands {
    padding: 15px 0;
}

    .brands .logo-box > a > img {
        width: 100%;
    }

    .brands .logo-box {
        border: 1px solid #edefee;
        cursor: pointer;
        height: 155px;
        padding: 10px;
    }

        .brands .logo-box > a > img {
            /*margin-top: 25px;*/
            width: 100%;
        }
        .logo-box:hover {
    border: 1px solid lightgray;
}

    .brands .show-box.pull-right {
        margin-top: 10px !important;
    }
/*******footer*******/
.footer {
    background: #3d3d3d none repeat scroll 0 0;
    padding: 20px 0;
}

    .footer a {
        color: #fff;
    }

    .footer li {
        margin-bottom: 5px;
    }

.footer-bottom {
    background: #1d1d1d none repeat scroll 0 0;
     border-bottom: 20px solid #000;
			  padding: 13px;
}

    .footer-bottom p {
        color: #fff;
        margin: 0px;
    }
/********************scroll*************/
.scrollToTop {
    background-color: #ca9547;
    bottom: 20px;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    position: fixed;
    right: 20px;
    display: none;
}

    .scrollToTop:hover {
        background-color: #ba8537;
        color: #fff;
        text-decoration: none;
    }
/****************responsive*******************/
/* only for the devices bigger than widescreens */
@media screen and (min-width:1200px) {
    .container {
        width: 1070px;
    }
}

/* any device upto the widescreen */
@media screen and (min-width:992px) and (max-width:1199px) {
    .container {
        width: 970px;
    }
}

@media all and (max-width:1199px) {
    .head-bottom .top.menu.nav.navbar-nav li a {
        font-size: 11px;
        padding-right: 9px !important;
    }

    .carousel-inner .carousel-caption > p {
        font-size: 25px;
    }

    .carousel-inner .carousel-caption > h1 {
        font-size: 20px;
    }

    .logo > img {
        display: block;
        margin: 0 auto;
    }

    #adv-search {
        width: 533px;
    }

    .head-bottom .top.menu.nav.navbar-nav li a {
        padding-left: 0;
        padding-right: 13px;
    }

    .head-top .top.menu.nav.navbar-nav.pull-right a {
        font-size: 12px;
    }

    .part-2 .box-text {
        top: 220px;
    }

    .all-product-file .part-2 > img {
        height: 386px;
        width: 323px;
    }

    .part-3 .img-left img, .img-right img {
        height: 154px;
    }

    .text-1, .text-2, .text-3, .text-4 {
        font-size: 12px;
    }
    .head-center .dropdown .btn-primary {
			  font-size: 11px;
			}
			.cart-account .dropdown {
			  margin-right: 10%;
			  width: 44%;
			}
}

@media all and (max-width:991px) {
    .head-top p {
        margin-top: 0px;
    }

    .carousel-inner .btn.btn-lg.btn-primary {
        margin-left: 125px;
        margin-top: 0;
    }

    .carousel-inner .carousel-caption > h1 {
        font-size: 20px;
    }

    .carousel-inner .carousel-caption > p {
        font-size: 18px;
    }

    .top.menu.nav.navbar-nav {
        width: 100%;
    }

    .head-top .top.menu.nav.navbar-nav > li {
        background-color: rgba(202, 149, 71, 0.5);
        margin-bottom: 5px;
        padding-left: 15px;
    }

    .head-bottom .top.menu.nav.navbar-nav > li {
        background: rgba(61, 61, 61, 0.3) none repeat scroll 0 0;
        margin-bottom: 5px;
        padding-left: 15px;
    }

    .navbar-collapse.collapse.in {
        padding: 0;
    }

    .top.menu.nav.navbar-nav a {
        padding: 10px 0;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

        .navbar-collapse.collapse.in {
            display: block !important;
        }

    .navbar-nav > li {
        float: none;
    }

    .navbar-header {
        float: inherit;
    }

    #adv-search {
        margin: 20px 0 0 !important;
        width: 100%;
    }

    .cart-account .dropdown {
        text-align: center;
    }

    .dropdown-menu {
        margin: 0 100px auto;
    }
 
    .text-left-title {
        float: left;
    }

    .part-2 .box-text {
        width: 83%;
    }

    .our-title {
        float: left;
    }

    .brands .logo-box {
        height: inherit;
    }

        .brands .logo-box > img {
            display: block;
            margin: 0 auto;
            width: inherit;
        }

    .brands .logo-box {
        float: left;
        height: inherit;
        margin-bottom: 10px;
        margin-left: 5px;
        width: 48%;
    }

    .all-product-file .part-2 > img {
        height: 386px;
        width: 100%;
    }

    .part-3 .img-left img, .img-right img {
        height: inherit;
    }

    .text-1, .text-2, .text-3, .text-4 {
        font-size: 20px;
    }

    .carousel-inner .carousel-caption {
        background-color: rgba(201, 153, 69, 0.7);
        left: 0;
        margin-bottom: 35px;
        position: absolute;
        right: 0;
        top: inherit;
        z-index: 0;
    }

        .carousel-inner .carousel-caption > h1 {
            color: #ffffff;
        }

        .carousel-inner .carousel-caption > p {
            color: #000000;
        }

    .carousel-inner .btn.btn-lg.btn-primary {
        background-color: inherit;
        border-color: #ffffff;
        color: #ffffff;
    }

    .head-bottom .top.menu.nav.navbar-nav li a {
        padding-left: 9px !important;
    }

    .sub-menu {
        box-shadow: inherit;
        left: 35px;
        margin: 0;
        padding: 0;
        top: inherit;
        width: 100%;
    }

    .head-bottom .top.menu.nav.navbar-nav > li {
        padding-left: 0;
    }

    .head-bottom .top.menu.nav.navbar-nav li a {
        padding-left: 20px !important;
    }

    .navbar-toggle {
        background: #333333 none repeat scroll 0 0;
        float: none;
        margin: 5px auto;
    }

    .top.menu.nav.navbar-nav {
        margin-left: 0;
    }

    .navbar-nav > li:hover .sub-menu {
        display: none;
    }

    .dropdown.open .sub-menu.dropdown-menu {
        display: block;
        left: inherit;
        position: inherit;
    }

    .navbar-nav > li:hover .sub-menu li {
        padding: 5px 0;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }

    .dropdown-menu {
        margin: 0 !important;
    }
    .carousel-inner .carousel-caption {
			  bottom: 40;
			  margin-bottom:0;
			}
    .carousel-indicators {
			  bottom: -10px;
			}
			.cart-account .dropdown {
			  margin-right: 0;
			  width: 50%;
			}
}

@media all and (max-width:767px) {
    .part-3 .img-left img, .img-right img {
        height: inherit;
    }

    .product, .box-2.product, .box-3.product, .box-4.product, .box-5.product, .box-6.product, .box-7.product, .box-8.product {
        background-image: none;
    }

    .footer .col-md-4.col-sm-4 {
        padding-bottom: 20px;
    }

    .footer li {
        border-bottom: 1px dashed #ffffff;
        margin-bottom: 5px;
        padding: 5px;
        text-align: center;
    }

    .dropdown-menu {
        margin: 0 25px auto;
    }

    .carousel-inner .carousel-caption > p {
        font-size: 14px;
    }

    .carousel-inner .carousel-caption > h1 {
        font-size: 16px;
    }

    .carousel-inner .carousel-caption > p > a {
        font-size: 12px;
    }
    .part-2 .box-text {
			  left: 38px;
			}
}

@media all and (max-width:560px) {
    .carousel-inner .carousel-caption > p > a {
        font-size: 11px;
        padding: 5px;
    }

    .carousel-inner .carousel-caption > p {
        font-size: 12px;
    }

    .carousel-inner .carousel-caption > h1 {
        font-size: 14px;
    }
    .carousel-inner .carousel-caption {
			  bottom: 20px;
			  margin-bottom: 0 !important;
			  padding: 0;
			}
			.carousel-inner .carousel-caption {
			  left:  inherit !important;
			  right:0;
			  width:100%;
			}
			.carousel-indicators .active,.carousel-indicators li  {
			  height: 12px;
			  width: 12px;
			}
}

/*mobile landscape only*/
@media screen and (min-width:480px) and (max-width:767px) {
    .container {
        width: 460px;
    }

    .text-1, .text-2, .text-3, .text-4 {
        font-size: 15px;
    }
}

/*mobile potrait only*/
@media screen and (max-width:479px) {
    .container {
        width: 300px;
    }

    .part-2 .box-text {
        left: 20px;
        top: 233px;
    }

    .part-2 h2 {
        font-size: 14px;
    }

    .box-text > p {
        font-size: 11px;
    }

    .part-1 h3 {
        font-size: 15px;
    }

    .text-1, .text-2, .text-3, .text-4 {
        font-size: 12px;
    }

    .text-left-title {
        font-size: 15px;
    }

    .show-box {
        margin-top: 0px;
    }

    .carousel-caption {
        bottom: -50px;
    }

    .carousel-inner .carousel-caption {
        left: -60px;
        margin-bottom: 25px;
    }

    .carousel-inner .carousel-caption {
        margin-bottom: 50px;
    }

    .carousel-indicators {
        bottom: -5px;
    }

    .text-1, .text-2, .text-3, .text-4 {
        min-height: 42px;
    }
    .part-2 .box-text {
			  left: 27px;
			}
}

@media screen and (max-width:360px) {
    .carousel-inner .carousel-caption {
        margin-bottom: 30px;
    }

    .dropdown-menu {
        margin: 0 0 auto;
    }
    .carousel-indicators {
			  bottom: -12px;
	}		
}
