<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title - Vendor Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <link href="http://localhost:15536/Administration/Content/styles.css" rel="stylesheet" type="text/css" />
    <link href="http://localhost:15536/Content/jquery-ui-themes/smoothness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" type="text/css" />
    <link href="http://localhost:15536/Content/kendo/2014.1.318/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="http://localhost:15536/Content/kendo/2014.1.318/kendo.default.min.css" rel="stylesheet" type="text/css" />
    <link href="http://localhost:15536/Content/kendo/2014.1.318/kendo.rtl.min.css" rel="stylesheet" type="text/css" />
    <link href="http://localhost:15536/Content/tagit/jquery.tagit.css" rel="stylesheet" type="text/css" />
    <link href="http://localhost:15536/Scripts/fineuploader/fineuploader-4.2.2.min.css" rel="stylesheet" type="text/css" />

    <script src="http://localhost:15536/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="http://localhost:15536/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="http://localhost:15536/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="http://localhost:15536/Scripts/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="http://localhost:15536/Scripts/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="http://localhost:15536/Scripts/admin.common.js" type="text/javascript"></script>
    <script src="http://localhost:15536/Scripts/kendo/2014.1.318/kendo.web.min.js" type="text/javascript"></script>
    <script src="http://localhost:15536/Scripts/tag-it.min.js" type="text/javascript"></script>
    <script src="http://localhost:15536/Content/tinymce/tinymce.min.js" type="text/javascript"></script>
    <script src="http://localhost:15536/Scripts/fineuploader/jquery.fineuploader-4.2.2.min.js" type="text/javascript"></script>

    <style>
        .container {
            margin-top: 55px;
        }
        .section-header {
            height: 65px;
        }
        td.adminTitle img {
            vertical-align: top;
        }
        .navbar-inverse {
            background-color: #E7E7E7;
            border-color: #E7E7E7;
        }
    </style>
</head>
<body style="height:1500px">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/Orders">Vendor Dashboard</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/Vendor/Orders">Orders</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Stock</a></li>
                    <li><a href="/Products/Index">Products</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Logged in as @ViewBag.CurrentVendorEmail | <a href="/Vendor/Products/Logout">Logout</a></p>
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
